body{
    font-family: cursive;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: white !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.fa-bars{
    color: white;
    font-size: 30px !important;
}

#jumbotron{
    background-image: linear-gradient(to right, #a517ba, #5f1783);
    color: white;
    padding-top: 5%;
}
.jumbo-title{
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#jumbotron a{
    color: white;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}

#services{
    padding: 80px 0;
}

.card-img{
    width: 100px;
    margin-top: 20px;
}
.card{
    padding: 20px;
}
.card-title{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #7b1795;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #7b1795;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #a517ba, #5f1783);
}
#about-us{
    background: #f8f8fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 50px;
    font-weight: 500;
    margin-top: 5%;
}

#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px;
}

#testimonials{
    margin: 10px 0;
}

.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user{
    display: inline-block;
    font-size: 15px;
}

#social-media{
    background-color: white;
    padding: 100px 0;
}
.social-media p{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 35px;
}

.media-icons img{
    width: 60px;
    transition: 0.5s;
}
.media-icons a:hover img{
    transform: translateY(-15px);
}

#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1783);
    color: white;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .icon{
    margin-right: 8px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1783);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1783);
}